
/.vscode
/data
/processed_data
/tables
/virtual-env
/week-2/TiempoEjecucion.csv
/week-2/tiempoExec.ipynb
/week-2/TiempoGlobal.csv
/week-2/prob.ipynb
/vistas
LinearRegressionTest.ipynb

.idea
week-2/data
week-2/processed_data
week-2/.idea
week-2/tables
week-2/RDS_connect_final.ipynb